<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>LaCoachadventures</title>
=======
  <title>Railsgirls</title>
>>>>>>> 632d471879dd5fdeae799c3650b7de4bb53751fb
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
